[Desktop Entry]
Type=Service
Icon=kdevelop
Exec=blubb
Comment=QTestLib test runner
Comment[en_GB]=QTestLib test runner
Comment[es]=Lanzador de pruebas QTestLib
Comment[pt]=Execução de testes do QTestLib
Comment[sv]=Testkörning för QTestLib
Comment[tr]=QTestLib sınaması çalıştırıcı
Comment[uk]=Засіб запуску QTestLib
Comment[x-test]=xxQTestLib test runnerxx

Name=QTest Runner
Name[en_GB]=QTest Runner
Name[es]=Lanzador de QTest
Name[pt]=Execução do QTest
Name[sv]=Körning för QTest
Name[tr]=QTest Çalıştırıcı
Name[uk]=Засіб запуску QTest
Name[x-test]=xxQTest Runnerxx
GenericName=Unit test runner
GenericName[ca]=Llançador de prova Unit
GenericName[ca@valencia]=Llançador de prova Unit
GenericName[de]=Unittest ausführen
GenericName[el]=Εκτελεστής ελέγχου unit
GenericName[en_GB]=Unit test runner
GenericName[es]=Lanzador de pruebas de unidades
GenericName[et]=Unit testi käivitaja
GenericName[fr]=Exécuteur de test Unit
GenericName[ga]=Feidhmitheoir tástála aonad
GenericName[gl]=Executor de probas unitarias
GenericName[ms]=Pelari unit uji
GenericName[nds]=Unit-Testdreger
GenericName[pa]=ਯੂਨਿਟ ਟੈਸਟ ਰਨਰ
GenericName[pt]=Execução de testes unitários
GenericName[sv]=Kör enhetstest
GenericName[tr]=Birim sınaması çalıştırıcı
GenericName[uk]=Засіб запуску перевірки модулів
GenericName[x-test]=xxUnit test runnerxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqtestview
X-KDE-PluginInfo-Name=qtestview
X-KDE-PluginInfo-Author=Manuel Breugelmans
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Interfaces=org.kdevelop.ITestFramework
X-KDevelop-Version=8
X-KDevelop-Mode=NoGUI
X-KDevelop-Category=Global
