[Desktop Entry]
Type=Service
Icon=kdevelop
Exec=blubb
Comment=QTestLib test runner
Comment[ca]=Executor de prova QTestLib
Comment[ca@valencia]=Executor de prova QTestLib
Comment[en_GB]=QTestLib test runner
Comment[es]=Lanzador de pruebas QTestLib
Comment[et]=QTestLibi testi käivitaja
Comment[fr]=Lanceur de tests QTestLib
Comment[it]=Esecutore di test QTestLib
Comment[nds]=QTestLib-Testdreger
Comment[nl]=QTestLib startprogramma voor test
Comment[pt]=Execução de testes do QTestLib
Comment[pt_BR]=Execução de testes do QTestLib
Comment[sv]=Testkörning för QTestLib
Comment[tr]=QTestLib sınaması çalıştırıcı
Comment[uk]=Засіб запуску QTestLib
Comment[x-test]=xxQTestLib test runnerxx

Name=QTest Runner
Name[ca]=Executor de QTest
Name[ca@valencia]=Executor de QTest
Name[en_GB]=QTest Runner
Name[es]=Lanzador de QTest
Name[et]=QTesti käivitaja
Name[fr]=Exécuteur QTest
Name[it]=Esecutore QTest
Name[nds]=QTest-Dreger
Name[nl]=QTest-startprogramma
Name[pa]=QTest ਰਨਰ
Name[pt]=Execução do QTest
Name[pt_BR]=Execução do QTest
Name[sv]=Körning för QTest
Name[tr]=QTest Çalıştırıcı
Name[uk]=Засіб запуску QTest
Name[x-test]=xxQTest Runnerxx
GenericName=Unit test runner
GenericName[ca]=Executor de prova Unit
GenericName[ca@valencia]=Executor de prova Unit
GenericName[de]=Unittest ausführen
GenericName[el]=Εκτελεστής ελέγχου unit
GenericName[en_GB]=Unit test runner
GenericName[es]=Lanzador de pruebas unitarias
GenericName[et]=Unit-testi käivitaja
GenericName[fr]=Lanceur de test unitaire
GenericName[ga]=Feidhmitheoir tástála aonad
GenericName[gl]=Executor de probas unitarias
GenericName[it]=Esecutore di unit test
GenericName[ms]=Pelari unit uji
GenericName[nds]=Unit-Testdreger
GenericName[nl]=Test-startprogramma voor eenheid
GenericName[pa]=ਯੂਨਿਟ ਟੈਸਟ ਰਨਰ
GenericName[pt]=Execução de testes unitários
GenericName[pt_BR]=Execução de testes unitários
GenericName[sv]=Kör enhetstest
GenericName[tr]=Birim sınaması çalıştırıcı
GenericName[uk]=Засіб запуску перевірки модулів
GenericName[x-test]=xxUnit test runnerxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqtestview
X-KDE-PluginInfo-Name=qtestview
X-KDE-PluginInfo-Author=Manuel Breugelmans
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Interfaces=org.kdevelop.ITestFramework
X-KDevelop-Version=12
X-KDevelop-Mode=NoGUI
X-KDevelop-Category=Global
